{% use 'tailwind_2_layout.html.twig' %}

{%- block form_start -%}
    {%- do form.setMethodRendered() -%}
    {% set method = method|upper %}
    {%- if method in ["GET", "POST"] -%}
        {% set form_method = method %}
    {%- else -%}
        {% set form_method = "POST" %}
    {%- endif -%}
<form{% if name != '' %} name="{{ name }}"{% endif %}
        method="{{ form_method|lower }}"{% if action != '' %} action="{{ action }}"{% endif %}{{ block('attributes') }}{% if multipart %} enctype="multipart/form-data"{% endif %}
        class="flex flex-col gap-2">
    {%- if form_method != method -%}
        <input type="hidden" name="_method" value="{{ method }}"/>
    {%- endif -%}
    {%- endblock form_start -%}

    {%- block money_widget -%}
        {{ money_pattern|form_encode_currency(block('form_widget_simple')) }}
    {%- endblock money_widget -%}

    {%- block form_row -%}
        {%- set row_attr = row_attr|merge({ class: row_attr.class|default(row_class|default('mb-2')) }) -%}
        {{- parent() -}}
    {%- endblock form_row -%}

    {% block textarea_widget %}
        {% set widget_class = widget_class|default('w-full rounded-sm border-1 border-blue-600 justify-start items-center placeholder:text-gray-500 focus:ring-1') %}
        {{ parent() }}
    {% endblock textarea_widget %}

    {%- block choice_widget_expanded -%}
        {%- set attr = attr|merge({ class: attr.class|default('flex gap-4 flex-wrap w-full') }) -%}
        <div {{ block('widget_container_attributes') }} >
            {%- for child in form %}
                <div class="flex items-center">
                    {{- form_widget(child) -}}
                    {{- form_label(child, null, { translation_domain: choice_translation_domain }) -}}
                </div>
            {% endfor -%}
        </div>
    {%- endblock choice_widget_expanded -%}


    {%- block form_label -%}
    {% if label is not same as(false) -%}
    {% if not compound -%}
        {% set label_attr = label_attr|merge({'for': id}) %}
    {%- endif -%}
    {% if required -%}
        {% set label_attr = label_attr|merge({'class': (label_attr.class|default('text-blue-950') ~ ' required')|trim}) %}
    {%- endif -%}
    <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}
    class="text-blue-950">
    {{- block('form_label_content') -}}
</{{ element|default('label') }}>
    {%- endif -%}
{%- endblock form_label -%}


{%- block form_errors -%}
    {%- set error_item_class = error_item_class|default('text-sm text-red-500 font-medium ') -%}
    {{- parent() -}}
{%- endblock form_errors -%}

{%- block form_help -%}
    {%- set help_class = help_class|default('block text-gray-800') -%}
    {{- parent() -}}
{%- endblock form_help -%}

{%- block button_widget -%}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- elseif label is not same as(false) -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    {% set class = "font-bold py-2 px-4 rounded text-sm" %}

    {%- if type in ['submit', 'reset'] -%}
        {% set class = class ~ ' bg-blue-800 hover:bg-blue-900 text-white' %}
    {%- elseif type == 'button' -%}
        {% set class = class ~ ' border-blue-800 bg-white text-blue-800 hover:bg-blue-800 hover:text-white' %}
    {%- endif -%}
    {%- if attr.class is defined -%}
        {% set class = class ~ ' ' ~ attr.class %}
    {%- endif -%}
    {% set attr = attr|merge({ class: class }) %}

    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>
        {%- if translation_domain is same as(false) -%}
            {%- if label_html is same as(false) -%}
                {{- label -}}
            {%- else -%}
                {{- label|raw -}}
            {%- endif -%}
        {%- else -%}
            {%- if label_html is same as(false) -%}
                {{- label|trans(label_translation_parameters, translation_domain) -}}
            {%- else -%}
                {{- label|trans(label_translation_parameters, translation_domain)|raw -}}
            {%- endif -%}
        {%- endif -%}
    </button>
{%- endblock button_widget -%}