{% extends 'base.html.twig' %}

{% block title %}Plumbill
{% endblock %}

{% block body %}
	{% include 'components/Navbar.html.twig' %}

	<main class="mx-auto">
		{{form_start(form)}}
			<div id="invoiceitem" data-prototype="{{ form_row(form.invoiceitems.vars.prototype)|e('html_attr')}}">
				{{form_row(form.invoiceitems)}}
				<span></span>
			</div>
		{{form_end(form)}}
	</main>
	
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('invoices') }}
{% endblock %}