{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <h1>Filtrer factures</h1>
    {{ form_start(form) }}
    {{ form_row(form.status) }}
    {{ form_row(form.priceMin) }}
    {{ form_row(form.priceMax) }}
    <button type="submit" class="">Valider</button>
    {{ form_end(form) }}
{% endblock %}



