{% extends 'base.html.twig' %}

{% block title %}Plumbill{% endblock %}

{% block body %}
   {% include 'components/Navbar.html.twig' %}
   
    <main class="mx-auto px-1 pt-2 sm:px-0">
        <header class="px-1 sm:px-0 mb-2">
            <h1><span class="text-4xl font-bold">Facture</span> <span class="text-2xl font-medium">{{ invoice.invoiceNumber }}</span></h1>
            <twig:Invoice:InvoiceStatusBadge :invoiceStatus="invoice.status" />
        </header>
        <article class="px-1 sm:px-0">
            <twig:Card>
                <h2 class="text-2xl font-bold">Client</h2>
                <div class="w-full flex justify-between">
                    <span class="font-semibold">Nom</span>
                    <span>{{ invoice.customer.name }}</span>
                </div>
                <div class="w-full flex justify-between">
                    <span class="font-semibold">Numéro de client</span>
                    <span>{{ invoice.customer.customerNumber }}</span>
                </div>
            </twig:Card>
            <twig:Card>
                <div class="grid grid-cols-invoice-items mb-2">
                    <div class="grid grid-cols-subgrid col-span-4">
                        <span class="font-semibold">Éléments</span>
                        <span class="font-semibold justify-self-center">Qt</span>
                        <span class="font-semibold justify-self-center">TVA</span>
                        <span class="font-semibold justify-self-end">Total</span>
                    </div>
                    {% for item in invoice.invoiceItems %}

                        <div class="grid grid-cols-subgrid col-span-4">
                            <span>{{ item.service.name }}</span>
                            <span class="justify-self-center">{{ item.quantity }}</span>
                            <span class="justify-self-center">{{ item.tax.value }}%</span>
                            <span class="justify-self-end">{{ item.priceIncludingTax|format_currency('EUR', locale='fr_FR') }}</span>
                        </div>
                    {% endfor %}
                </div>
                <div class="flex justify-end mb-2">
                    <div class="border border-black rounded-sm px-2 py-1 w-1/2">
                        <div class="w-full flex justify-between">
                            <span class="font-semibold">Sous-total</span>
                            <span>{{ invoice.totalExcludingTax|format_currency('EUR', locale='fr_FR') }}</span>
                        </div>
                        <div class="w-full flex justify-between">
                            <span class="font-semibold">TVA</span>
                            <span>{{ invoice.taxAmount|format_currency('EUR', locale='fr_FR') }}</span>
                        </div>
                        <div class="w-full flex justify-between">
                            <span class="font-semibold">TOTAL</span>
                            <span>{{ invoice.totalIncludingTax|format_currency('EUR', locale='fr_FR') }}</span>
                        </div>
                    </div>
                </div>
            </twig:Card>
            <twig:Invoice:InvoicePaymentCard :invoice="invoice" />
        </article>
    </main>
{% endblock %}
