{% use 'tailwind_2_layout.html.twig' %}

{% block form_widget_simple %}
    {%- set widget_class = 'bg-transparent dark:bg-transparent dark:focus:ring-primary/25 dark:focus:border-primary/25' -%}
    {{- parent() -}}
{% endblock form_widget_simple %}

{%- block form_start -%}
    {%- set attr = attr|merge({ class: attr.class|default('space-y-2') }) -%}
    {{- parent() -}}
{%- endblock form_start -%}

    {%- block money_widget -%}
        {{ money_pattern|form_encode_currency(block('form_widget_simple')) }}
    {%- endblock money_widget -%}

    {%- block form_row -%}
        {%- set row_attr = row_attr|merge({ class: row_attr.class|default(row_class|default('flex flex-col gap-1')) }) -%}
        {{- parent() -}}
    {%- endblock form_row -%}

    {% block checkbox_widget %}
        {%- set attr = attr|merge({ class: attr.class|default('text-primary dark:bg-transparent') }) -%}
        {{- parent() -}}
    {%- endblock checkbox_widget %}


    {%- block choice_widget_expanded -%}
        {%- set attr = attr|merge({ class: attr.class|default('flex gap-4 flex-wrap w-full') }) -%}
        <div {{ block('widget_container_attributes') }} >
            {%- for child in form %}
                <div class="flex gap-1 items-center">
                    {{- form_widget(child) -}}
                    {{- form_label(child, null, { translation_domain: choice_translation_domain }) -}}
                </div>
            {% endfor -%}
        </div>
    {%- endblock choice_widget_expanded -%}

 {%- block choice_widget_collapsed -%}
     {%- set widget_class = 'bg-transparent dark:bg-blue-darker dark:focus:ring-primary/25 dark:focus:border-primary/25' -%}
     {{- parent() -}}
 {%- endblock choice_widget_collapsed -%}

    {%- block form_label -%}
        {% if label is not same as(false) -%}
            {% if not compound -%}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {%- endif -%}
            {% if required -%}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('text-blue-darker dark:text-white') ~ ' required')|trim}) %}
            {%- endif -%}
            <{{ element|default('label') }}{% if label_attr %}{% with { attr: label_attr } %}{{ block('attributes') }}{% endwith %}{% endif %}
            class="text-blue-darker dark:text-white">
            {{- block('form_label_content') -}}
            </{{ element|default('label') }}>
        {%- endif -%}
    {%- endblock form_label -%}


{%- block form_errors -%}
    {%- set error_item_class = error_item_class|default('text-sm text-error font-medium ') -%}
    {{- parent() -}}
{%- endblock form_errors -%}

{%- block form_help -%}
    {%- set help_class = help_class|default('block text-grey-dark') -%}
    {{- parent() -}}
{%- endblock form_help -%}

{%- block button_widget -%}
    {%- if label is empty -%}
        {%- if label_format is not empty -%}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {%- elseif label is not same as(false) -%}
            {% set label = name|humanize %}
        {%- endif -%}
    {%- endif -%}
    {% set class = "font-bold py-2 px-4 rounded text-sm" %}

    {%- if type in ['submit', 'reset'] -%}
        {% set class = class ~ ' bg-primary hover:bg-blue-darker dark:hover:bg-blue-dark text-white' %}
    {%- elseif type == 'button' -%}
        {% set class = class ~ ' border-primary bg-white text-primary hover:bg-primary hover:text-white' %}
    {%- endif -%}
    {%- if attr.class is defined -%}
        {% set class = class ~ ' ' ~ attr.class %}
    {%- endif -%}
    {% set attr = attr|merge({ class: class }) %}

    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>
        {%- if translation_domain is same as(false) -%}
            {%- if label_html is same as(false) -%}
                {{- label -}}
            {%- else -%}
                {{- label|raw -}}
            {%- endif -%}
        {%- else -%}
            {%- if label_html is same as(false) -%}
                {{- label|trans(label_translation_parameters, translation_domain) -}}
            {%- else -%}
                {{- label|trans(label_translation_parameters, translation_domain)|raw -}}
            {%- endif -%}
        {%- endif -%}
    </button>
{%- endblock button_widget -%}