{% extends 'base.html.twig' %}

{% block title %}Liste des Devis
{% endblock %}

{% block body %}
	<div class="container mx-auto px-4">
		<h1 class="text-xl font-bold my-4">Liste des Devis</h1>
		<div class="overflow-x-auto">
			<table class="min-w-full bg-white">
				<thead class="border-b">
					<tr>
						<th class="py-2 px-4 text-left">ID</th>
						<th class="py-2 px-4 text-left">Client</th>
						<th class="py-2 px-4 text-left">Créé le</th>
						<th class="py-2 px-4 text-left">Total TTC</th>
						<th class="py-2 px-4 text-left">Status</th>
					</tr>
				</thead>
				<tbody>
					{% for quote in quotes %}
						<tr class="border-b">
							<td class="py-2 px-4">{{ quote.id }}</td>
							<td class="py-2 px-4">{{ quote.customer }}</td>
							<td class="py-2 px-4">{{ quote.createdAt|date('Y-m-d') }}</td>
							<td class="py-2 px-4">{{ quote.getTotalTTC() }}</td>
							<td class="py-2 px-4">{{ quote.status }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}
