{% extends 'base.html.twig' %}

{% block title %}
    {% if type == "new" %}
        Création de devis
    {% elseif type == "edit" %}
        Modification de devis
    {% endif %}

{% endblock %}

{% block body %}
    {% include 'components/Navbar.html.twig' %}

    <main class="mx-auto container px-4 pt-2 sm:px-0 space-y-2">
        <header class="px-1 sm:px-0">
            <h1 class="text-3xl font-bold">
                {% if type == "new" %}
                    Créer un nouveau devis
                {% elseif type == "edit" %}
                    Modification de devis
                {% endif %}
            </h1>
        </header>
        <twig:Card>
            {{ form_start(form) }}
            <a href="#" onclick="openModal(event)" class="text-blue-600 hover:underline">Nouveau client</a>
            <!-- Bouton pour ouvrir le modal -->
            {{ form_row(form.customer) }}
            {{ form_label(form.status) }}
            {{ form_widget(form.status) }}
            <div id="quoteitem" data-prototype="{{ form_row(form.quoteitems.vars.prototype)|e('html_attr') }}">
                {{ form_row(form.quoteitems) }}
                <span id="lignesItems"></span>
            </div>
            {{ form_end(form) }}
        </twig:Card>
    </main>

    {% include "components/ModalCustomer.html.twig" %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('quotes') }}
    {{ encore_entry_script_tags('modal-customer') }}
    {{ encore_entry_script_tags('dropdown-customer') }}

{% endblock %}