{% extends 'base.html.twig' %}

{% block title %}Plumbill{% endblock %}

{% block body %}
   {% include 'components/Navbar.html.twig' %}
   
    <main class="mx-auto">
        <header class="mb-2 p-1 bg-white ">
            <h1 class="text-2xl">Devis</h1>
            <div>
                <h2>Client</h2>
                <div class="w-full flex justify-between">
                    <span class="font-semibold">Nom</span>
                    <span>{{ quote.customer.name}}</span>
                </div>
                <div class="w-full flex justify-between">
                    <span class="font-semibold">Numéro de client</span>
                    <span>{{quote.customer.customerNumber}}</span>
                </div>
            </div>        
        </header>
        <section class="grid grid-cols-quote-items">
            <div class="grid grid-cols-subgrid col-span-4">
                <span class="font-semibold">Éléments</span>
                <span class="font-semibold">Qt</span>
                <span class="font-semibold">TVA</span>
                <span class="font-semibold">Total</span>
            </div>
            {% for item in quote.quoteItems %}
            <div class="grid grid-cols-subgrid col-span-4">
                <span>{{item.service.name}}</span>
                <span>{{item.quantity}}</span>
                <span>{{item.tax.value}}%</span>
                <span>{{ item.getPriceIncludingTax() }}</span>
            </div>
            {% endfor %}
        </section>
    </main>
{% endblock %}
