{% extends 'base.html.twig' %}

{% block title %}Plumbill{% endblock %}

{% block body %}

    <header class="px-1 sm:px-0 flex justify-between items-center">
        <div class="flex items-center gap-4">
            <a href="{{ path('quote_index') }}"
               class="rounded-full hover:bg-grey-light/50 size-8 relative transition-all duration-200 cursor-pointer">
                <i class="material-symbols-outlined -translate-x-1/2 -translate-y-1/2 absolute top-1/2 left-1/2">arrow_left</i>
            </a>
            <h1 class="text-3xl md:text-4xl font-bold">Devis</h1>
        </div>
        <twig:Dropdown></twig:Dropdown>
        <div class="hidden md:flex gap-2 items-center h-fit">
            {% if quote.status.name != 'refused' %}
                <a href="{{ path('quote_pdf', {'id': quote.id}) }}" target="_blank"
                   class="text-center border border-primary bg-primary text-white hover:bg-blue-dark hover:border-blue-dark dark:bg-blue-light/5 dark:border-primary/25 dark:hover:bg-primary/25 rounded px-2 py-1 font-semibold text-sm flex items-center gap-1">
                    Prévisualiser
                    <i class="material-symbols-outlined">preview</i>
                </a>
            {% endif %}
            {% if quote.status.name == 'accepted' %}
                <a href="{{ path('quote_convert', {'id': quote.id}) }}"
                   class="text-center border border-primary bg-primary text-white hover:bg-blue-dark hover:border-blue-dark dark:bg-blue-light/5 dark:border-primary/25 dark:hover:bg-primary/25 rounded px-2 py-1 font-semibold text-sm flex items-center gap-1">
                    Convertir ce devis en facture
                    <i class="material-symbols-outlined">change_circle</i>
                </a>
            {% elseif quote.status.name == 'draft' %}
                <a href="{{ path('quote_sendpdf', {'id': quote.id}) }}"
                   class="text-center border border-primary bg-primary text-white hover:bg-blue-dark hover:border-blue-dark dark:bg-blue-light/5 dark:border-primary/25 dark:hover:bg-primary/25 rounded px-2 py-1 font-semibold text-sm flex items-center gap-1">
                    Envoyer le devis
                    <i class="material-symbols-outlined">send</i>
                </a>
            {% endif %}
            <a href="{{ path('quote_edit', {'id': quote.id}) }}"
               class="text-center border border-primary bg-primary text-white hover:bg-blue-dark hover:border-blue-dark dark:bg-blue-light/5 dark:border-primary/25 dark:hover:bg-primary/25 rounded px-2 py-1 font-semibold text-sm flex items-center gap-1">
                Modifier
                <i class="material-symbols-outlined">update</i>
            </a>
        </div>
    </header>
    <twig:Card>
        <h2 class="text-xl font-bold">Récapitulatif</h2>
        <div class="gap-1.5 w-full grid grid-cols-6">
            <section class="col-span-6 grid grid-cols-subgrid">
                <div class="col-span-5 flex flex-col">
                    <span class="text-grey-dark dark:text-grey text-xs uppercase font-medium leading-tight tracking-wide">Numéro de devis</span>
                    <span class="dark:text-grey-light font-bold leading-tight">{{ quote.quoteNumber }}</span>
                </div>
                <div class="col-span-1 flex flex-col">
                    <span class="text-grey-dark text-xs uppercase font-medium leading-tight tracking-wide">Statut</span>
                    <twig:StatusBadge :status="quote.status"/>
                </div>
            </section>
            <section class="col-span-6 grid grid-cols-subgrid">
                <div class="col-span-3 flex flex-col">
                    <span class="text-grey-dark dark:text-grey text-xs uppercase font-medium leading-tight tracking-wide">Nom du client</span>
                    <span class="dark:text-grey-light font-bold leading-tight">{{ quote.customer.name }}</span>
                </div>
                <div class="col-span-3 flex flex-col">
                    <span class="text-grey-dark dark:text-grey text-xs uppercase font-medium leading-tight tracking-wide">Numéro de client</span>
                    <span class="dark:text-grey-light font-bold leading-tight">{{ quote.customer.customerNumber }}</span>
                </div>
            </section>
            <section class="col-span-6 grid grid-cols-subgrid">
                <div class="col-span-3 flex flex-col">
                    <span class="text-grey-dark dark:text-grey text-xs uppercase font-medium leading-tight tracking-wide">Date de création</span>
                    <span class="dark:text-grey-light font-bold leading-tight">{{ quote.createdAt|date('d/m/Y') }}</span>
                </div>
            </section>
        </div>
    </twig:Card>
    <twig:Card class="flex-col">
        <div class="grid grid-cols-quote-items mb-2">
            <div class="grid grid-cols-subgrid col-span-4">
                <span class="font-semibold">Éléments</span>
                <span class="font-semibold justify-self-center">Qt</span>
                <span class="font-semibold justify-self-center">TVA</span>
                <span class="font-semibold justify-self-end">Total</span>
            </div>
            {% for item in quote.quoteItems %}
                <div class="grid grid-cols-subgrid col-span-4">
                    <span>{{ item.service.name }}</span>
                    <span class="justify-self-center">{{ item.quantity }}</span>
                    <span class="justify-self-end">{{ item.tax.value }}%</span>
                    <span class="justify-self-end">{{ (item.priceIncludingTax * item.quantity)|format_currency('EUR', locale='fr_FR') }}</span>
                </div>
            {% endfor %}
        </div>
        <div class="flex justify-end">
            <div class="border border-grey-light/5 rounded-sm px-2 py-1 w-1/2 flex flex-col">
                <div class="w-full md:w-fit gap-2 flex justify-between">
                    <span class="font-semibold">Sous-total</span>
                    <span>{{ quote.totalExcludingTax|format_currency('EUR', locale='fr_FR') }}</span>
                </div>
                <div class="w-full md:w-fit gap-2 flex justify-between">
                    <span class="font-semibold">TVA</span>
                    <span>{{ quote.taxAmount|format_currency('EUR', locale='fr_FR') }}</span>
                </div>
                <div class="w-full md:w-fit gap-2 flex justify-between">
                    <span class="font-semibold">TOTAL</span>
                    <span>{{ quote.totalIncludingTax|format_currency('EUR', locale='fr_FR') }}</span>
                </div>
            </div>
        </div>
    </twig:Card>
    <twig:Card>
        <h2 class="text-xl font-bold mb-2">Factures liées au devis</h2>
        <div class="w-full gap-2 grid grid-cols-1 md:grid-cols-2 md:gap-2 xl:grid-cols-4 xl:gap-3 2xl:grid-cols-4 2xl:gap-4">
            {% for invoice in invoices %}
                <twig:Invoice:InvoiceListItem :invoice="invoice"/>
            {% endfor %}
        </div>
    </twig:Card>
{% endblock %}
