{% props quote %}

<a href="{{ path('quote_show', {id: quote.id }) }}"
   class="px-4 py-6 bg-white shadow-md rounded-xl gap-1.5 w-full grid grid-cols-6 hover:bg-lightgrey hover:bg-opacity-75 hover:shadow-lg group">
    <section class="col-span-6 grid grid-cols-subgrid">
        <div class="col-span-5 flex flex-col">
            <span class="text-darkgrey text-xs uppercase font-medium  leading-tight tracking-wide">N° devis</span>
            <span class="text-black font-bold leading-tight">{{ quote.quoteNumber }}</span>
        </div>
        <div class="col-span-1 flex justify-end">
            <twig:StatusBadge :status="quote.status"/>
        </div>
    </section>
    <section class="col-span-6 grid grid-cols-subgrid">
        <div class="col-span-3 flex flex-col">
            <span class="text-darkgrey text-xs uppercase font-medium  leading-tight tracking-wide">Date de création</span>
            <span class="text-black font-bold leading-tight">{{ quote.createdAt|date('d/m/Y') }}</span>
        </div>
        <div class="col-span-3 flex flex-col">
            <span class="text-darkgrey text-xs uppercase font-medium  leading-tight tracking-wide">Client</span>
            <span class="text-black font-bold leading-tight">{{ quote.customer.name }}</span>
        </div>
    </section>
    <section class="col-span-6 grid grid-cols-subgrid">
        <div class="col-span-3 flex flex-col">
            <span class="text-darkgrey text-xs uppercase font-medium  leading-tight tracking-wide">Montant HT</span>
            <span class="text-black font-bold leading-tight">{{ quote.totalExcludingTax|format_currency('EUR', locale='fr_FR') }}</span>
        </div>
        <div class="col-span-3 flex flex-col">
            <span class="text-darkgrey text-xs uppercase font-medium  leading-tight tracking-wide">Montant TTC</span>
            <span class="text-black font-bold leading-tight">{{ quote.totalIncludingTax|format_currency('EUR', locale='fr_FR') }}</span>
        </div>
    </section>
</a>