{% props quote %}

<a href="{{ path('quote_show', {id: quote.id }) }}">
    <twig:Card
            class="bg-white dark:bg-blue-darker px-4 py-6 shadow-md rounded-xl gap-1.5 w-full grid grid-cols-12 hover:bg-hover-light hover:bg-opacity-75 hover:shadow-lg dark:hover:bg-hover-dark group">
        <section class="col-span-12 grid grid-cols-subgrid">
            <div class="col-span-10 flex flex-col">
                <span class="text-grey-dark dark:text-grey text-xs uppercase font-medium leading-tight tracking-wide">N° devis</span>
                <span class="dark:text-grey-light font-bold leading-tight">{{ quote.quoteNumber }}</span>
            </div>
            <div class="col-span-2 flex justify-end items-center">
                <twig:StatusBadge :status="quote.status"/>
            </div>
        </section>
        <section class="col-span-12 grid grid-cols-subgrid">
            <div class="col-span-4 flex flex-col">
                <span class="text-nowrap text-grey-dark dark:text-grey text-xs uppercase font-medium leading-tight tracking-wide">Date de création</span>
                <span class="dark:text-grey-light font-bold leading-tight">{{ quote.createdAt|date('d/m/Y') }}</span>
            </div>
            <div class="col-span-4 flex flex-col items-center">
                <span class="text-grey-dark dark:text-grey text-xs uppercase font-medium leading-tight tracking-wide">Montant HT</span>
                <span class="dark:text-grey-light font-bold leading-tight">{{ quote.totalExcludingTax|format_currency('EUR', locale='fr_FR') }}</span>
            </div>
            <div class="col-span-4 flex flex-col items-end">
                <span class="text-grey-dark dark:text-grey text-xs uppercase font-medium leading-tight tracking-wide">Montant TTC</span>
                <span class="dark:text-grey-light font-bold leading-tight">{{ quote.totalIncludingTax|format_currency('EUR', locale='fr_FR') }}</span>
            </div>
        </section>
        <section class="col-span-12 grid grid-cols-subgrid">
            <div class="col-span-12 flex flex-col">
                <span class="text-grey-dark dark:text-grey text-xs uppercase font-medium leading-tight tracking-wide">Client</span>
                <span class="dark:text-grey-light font-bold leading-tight">{{ quote.customer.name }}</span>
            </div>
        </section>
    </twig:Card>
</a>
