{% block body %}
	<style>
		body {
			background-color: #ffffff;
			margin: 0;
			padding: 20px;
			font-family: Arial, sans-serif;
		}

		.content-container {
			max-width: 600px;
			margin: 0 auto;
		}

		.button {
			display: inline-block;
			padding: 10px 20px;
			margin-top: 20px;
			background-color: #4CAF50;
			color: #ffffff;
			text-decoration: none;
			border-radius: 5px;
		}
	</style>

	<div class="content-container">
		<p>Cher(e)
			{{firstName}}
			{{lastName}}</p>

		<p>Veuillez trouver vos identifiants pour accéder à notre plateforme :</p>

		<p>Email :
			{{emailAdresse}}
			<br>
            Mot de passe : {{password}}</p>

        <p>Nous vous encourageons très fortement de réinitialiser votre mot de passe par mesure de sécurité !</p>

		<p>Nous sommes impatients de vous accueillir sur notre plateforme. Si vous avez des questions ou des préoccupations, n'hésitez pas à nous contacter.</p>

		<p>Merci pour votre confiance.</p>

		<p>Bien à vous,</p>

		<p>L'équipe PlumBill</p>
		<a href="{{path('app_login')}}" class="bg-blue-800">Accéder à la plateforme</a>
		<br>
		<img src="{{ asset('img/logo.png') }}" alt="image logo">
	</div>
{% endblock %}
