{{ form_start(form)}}
{{ form_row(form.last_name) }}
{{ form_row(form.first_name) }}
{{ form_row(form.email) }}
<div class="flex justify-between mt-3">
	{{ form_row(form.submit)}}
	<button onclick="openCreateUserModal()" class="bg-white text-primary font-bold p-2 rounded border border-primary">
		Fermer
	</button>
</div>
{{ form_end(form) }}


<script>
	const modal = document.getElementById("myModal");

function openModal() {
modal.classList.remove("hidden");
}

function closeCreateUserModal() {
modal.classList.add("hidden");
}

window.onclick = function (event) {
if (event.target === modal) {
closeCreateUserModal();
}
};
</script>
