{{ form_start(form, {'attr': {'class': 'flex flex-col w-full gap-2'}}) }}

<span>
	{{ form_row(form.email, {'attr': {'class': 'rounded-lg p-2 flex-1 w-56 border-2'}}) }}</span>

<span>
	{{ form_row(form.plainPassword, {'attr': {'class': 'rounded-lg p-2 flex-1 w-56 border-2'}}) }}</span>

<span class='flex gap-4 justify-end w-full mt-4'>
	{{ form_row(form.save, {'attr': {'class': 'rounded px-4 py-2 flex-1 bg-darkPurple font-bold text-white'}}) }}
	{{ form_end(form) }}

	<button onclick="closeCreateUserModal()" class="bg-white flex-1 text-darkPurple font-bold p-2 rounded border border-darkPurple">
		Fermer
	</button>


<script>
const modal = document.getElementById("myModal");

function openModal() {
modal.classList.remove("hidden");
}

function closeCreateUserModal() {
modal.classList.add("hidden");
}

window.onclick = function (event) {
if (event.target === modal) {
closeCreateUserModal();
}
};
</script>
