<twig:Card class="max-w-screen-sm flex-col">
    <form method="post" class="flex flex-col w-full gap-3">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="flex flex-col gap-1">
            <label for="username" class="text-base">Adresse email</label>
            <input type="text" id="username" value="{{ last_username }}" name="email"
                   placeholder="bill@plumbill.fr" required autofocus
                   class="bg-transparent dark:focus:ring-blue dark:focus:border-blue">
        </div>

        <div class="flex flex-col gap-1">
            <label for="password" class="text-base">Mot de passe</label>
            <input type="password" id="password" name="password"
                   placeholder="Mot de passe" required
                   class="bg-transparent dark:focus:ring-blue dark:focus:border-blue">
        </div>

        <div class="flex w-full gap-4 justify-between">
            <a href="{{ path('app_register') }}"
               class="font-semibold py-2 px-4 rounded border border-primary bg-primary text-white hover:bg-blue-dark hover:border-blue-dark dark:bg-primary/20 dark:border-primary/15 w-full">
                Créer un compte
            </a>
            <button class="w-full font-semibold py-2 px-4 rounded border border-primary bg-primary text-white hover:bg-blue-dark hover:border-blue-dark dark:bg-primary/20 dark:border-primary/15"
                    type="submit">
                Se connecter
            </button>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        </div>
    </form>

    <div class="text-right">
        <a href="{{ path('app_password_reset_request') }}" class="text-sm text-blue-500 hover:underline">Mot de passe
            oublié ?</a>
    </div>
</twig:Card>