<!-- Modale -->
<div id="myModal"
     class="fixed inset-0 z-50 hidden overflow-auto bg-black bg-opacity-50 flex items-center justify-center">
    <div class="bg-white dark:bg-blue-darker p-8 rounded shadow-lg w-full max-w-screen-md">
        <header class="w-full flex items-center justify-between">
            <h1 class="text-3xl font-bold">Ajout d'un client</h1>
            <span onclick="closeModal()"
                  class="rounded-full hover:bg-grey-light/50 size-8 relative transition-all duration-200 cursor-pointer">
                <i class="material-symbols-outlined -translate-x-1/2 -translate-y-1/2 absolute top-1/2 left-1/2">close</i>
            </span>
        </header>

        {{ form_start(customerForm, {'attr': {'id': 'customerForm', 'data-type': typeDocument}}) }}
        {{ form_row(customerForm.name) }}
        {{ form_row(customerForm.email) }}
        {{ form_row(customerForm.address) }}
        {{ form_row(customerForm.postal_code) }}
        {{ form_row(customerForm.city) }}

        <span class='flex gap-4 justify-end w-full mt-4'>
            {{ form_row(customerForm.submit) }}
            <button onclick="closeModal()"
                    class="font-bold py-2 px-4 rounded text-sm bg-error hover:bg-red-900 dark:hover:bg-red-dark text-white">
                Fermer
            </button>
        </span>
        {{ form_end(customerForm) }}
    </div>
</div>