<div class="bg-white dark:bg-blue-darker p-4 mx-6 my-2 rounded-lg flex flex-col shadow-lg">
	<div class='flex gap-2 justify-between'>
		<div class='flex gap-2 flex-col	'>

			<span class='flex gap-2'>
				<p class='font-bold'>Prénom</p>
				<p class=''>
					{{ user.firstName }}
				</p>
			</span>

			<span class='flex gap-2'>
				<p class='font-bold'>Nom</p>
				<p class=''>
					{{ user.lastName}}
				</p>
			</span>
			<span class='flex gap-2'>
				<p class='font-bold'>Email</p>
				<p class=''>
					{{ user.email }}
				</p>
			</span>

			<span class='flex gap-2'>
				<p class='font-bold'>Entreprise</p>
				<p class=''>
					{{user.company.name}}
				</p>
			</span>

		</div>
		<div>
			<a href="#" onclick="openModal(event)" class='text-primary '>
				<i class="material-icons">edit</i>
			</a>
		</div>

		<twig:Modal title="Ajout d'un client" id="clientModal">
			{% block form %}
				{{ form_start(form, {'attr': {'id': 'form'}}) }}

				{{ form_row(form.first_name) }}

				{{ form_row(form.last_name) }}

				<span class='flex gap-4 justify-end w-full mt-4'>
					{{ form_row(form.submit) }}
					<button onclick="closeModal()" class="font-bold py-2 px-4 rounded text-sm bg-error hover:bg-red-900 dark:hover:bg-red-dark text-white">
						Fermer
					</button>
				</span>
				{{ form_end(form) }}
			{% endblock %}
		</twig:Modal>
