<twig:Card class="p-4 bg-white shadow-md rounded-xl max-w-screen-sm flex flex-col">
    <div class="flex flex-col w-full gap-3">
        {% for flash_error in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
        {% endfor %}

        {% if app.request.method == 'POST' %}
            {% for error in registrationForm.vars.errors %}
                <div class="alert alert-danger" role="alert">{{ error.message }}</div>
            {% endfor %}
        {% endif %}

        {{ form_start(registrationForm) }}
        {{ form_end(registrationForm) }}

    </div>

    <a href={{ path('app_login') }}>Vous avez déjà un compte ?</a>


</twig:Card>
