<section class="bg-white rounded-lg p-4 shadow-xl cursor-pointer">
	<details>
		<summary class="list-none flex justify-between items-center">

			<div>
				<h1 class="text-gray-500">ENTREPRISE</h1>
				<p class="font-bold">{{ user.company.name }}</p>
			</div>

			<div class="flex gap-2 font-bold">
				{% if user.isVerified == false %}
					<a onclick="openModalAccept('{{ user.id }}')" class='text-green-600 cursor-pointer'>
						<i class="material-icons text-green-600">check</i>
					</a>
					<a onclick="openModalDelete('{{ user.id }}')" class='text-red-600 cursor-pointer'>
						<i class="material-icons">close</i>
					</a>
				{% endif %}
			</div>
		</summary>
			

		<div class="flex gap-6">
			<div>
				<h1 class="text-gray-500">SIRET</h1>
				<p class="font-bold">
					{{ user.company.CompanyNumber }}
				</p>
			</div>
		</div>

	

		<div class="flex gap-6">

			<div>
				<h1 class="text-gray-500">VILLE</h1>
				<p class="font-bold">
					{{ user.company.city }}
				</p>
			</div>
			<div>
				<h1 class="text-gray-500">CODE POSTAL</h1>
				<p class="font-bold">
					{{ user.company.postalCode }}
				</p>
			</div>
		</div>


		<div>
			<h1 class="text-gray-500">ADRESSE</h1>
			<p class="font-bold">
				{{ user.company.address }}
			</p>
		</div>

		<div class="flex gap-6">
			<div>
				<h1 class="text-gray-500">DEMANDEUR</h1>
				<p class="font-bold flex gap-2">
					{{ user.firstName }}
					
					{{ user.lastName }}
				</p>
			</div>

			<div>
				<h1 class="text-gray-500">EMAIL</h1>
				<p class="font-bold">
					{{ user.email }}
				</p>
			</div>
		</div>

	</details>
</section>

<!-- Modale -->
<div id="modalAccept" class="fixed inset-0 z-50 hidden overflow-auto bg-black bg-opacity-50 flex items-center justify-center">

	<div class="bg-white p-8 rounded shadow-lg m-6">
		<h2 class="text-lg font-bold mb-4">Accepter la demande</h2>

		<p>Voulez-vous vraiment accepter cette demande de compte ?</p>

		<div class='mt-6 flex flex-row justify-center items-center flex-1 w-full gap-3'>
			<a id="acceptLink" class='flex-1 bg-green-600 font-bold p-2 rounded text-white text-center'>
				<p>Accepter</p>
			</a>
			<button onclick="closeAcceptModal()" class="bg-white flex-1 text-blue-800 font-bold p-2 rounded border border-blue-800">
				Annuler
			</button>
		</div>
	</div>
</div>

<!-- Modale -->
<div id="modalDelete" class="fixed inset-0 z-50 hidden overflow-auto bg-black bg-opacity-50 flex items-center justify-center">

	<div class="bg-white p-8 rounded shadow-lg m-6">
		<h2 class="text-lg font-bold mb-4">Rejeter la demande</h2>

		<p>Voulez-vous vraiment rejeter cette demande de compte ?</p>

		<div class='mt-6 flex flex-row justify-center items-center flex-1 w-full gap-3'>
			<a id="deleteLink" class='flex-1 bg-red-600 font-bold p-2 rounded text-white text-center'>
				<p>Rejeter</p>
			</a>
			<button onclick="closeDeleteModal()" class="bg-white flex-1 text-blue-800 font-bold p-2 rounded border border-blue-800">
				Annuler
			</button>
		</div>
	</div>
</div>


<script>
	const modale = document.getElementById("modalAccept");

function openModalAccept(userId) {
modale.classList.remove("hidden");

var acceptLink = "{{ path('accept_request_company_account', {'id': '__userId__'}) }}".replace('__userId__', userId);

document.getElementById('acceptLink').href = acceptLink;


}

function closeAcceptModal() {
modale.classList.add("hidden");
}

window.onclick = function (event) {
if (event.target === modale) {
closeAcceptModal();
}
};

closeButton.onclick = function () {
closeAcceptModal();
};


const modaleDelete = document.getElementById("modalDelete");

function openModalDelete(userId) {
modaleDelete.classList.remove("hidden");

var deleteLink = "{{ path('delete_request_company_account', {'id': '__userId__'}) }}".replace('__userId__', userId);

document.getElementById('deleteLink').href = deleteLink;

}

function closeDeleteModal() {
modaleDelete.classList.add("hidden");
}

window.onclick = function (event) {
if (event.target === modaleDelete) {
closeDeleteModal();
}
};

closeButton.onclick = function () {
closeDeleteModal();
};
</script>
