<div class="bg-darkPurple flex flex-col rounded-b-2xl w-screen">
	<h1 class='text-white text-2xl font-bold px-6 pt-6'>Service</h1>
	<div class='p-6 flex justify-center items-center'>
		{{ form_start(form, {'attr': {'class': 'flex flex-col items-center w-full gap-4'}}) }}
		{{ form_row(form.name, {'attr': {'class': 'rounded-lg p-2 flex-1 w-56'}}) }}
		{{ form_row(form.price, {'attr': {'class': 'rounded-lg p-2 flex-1 w-56'}}) }}
		{{ form_row(form.tax, {'attr': {'class': 'rounded-lg p-2 flex-1 w-56 h-10 bg-white'}}) }}
		{{ form_row(form.save, {'attr': {'class': 'rounded-lg p-2 flex-1 bg-white w-56'}}) }}
		{{ form_end(form) }}
	</div>
</div>
