<div class="bg-white p-2 mx-6 my-2 rounded-lg">

	<div class='flex justify-between'>
		<h1 class='font-bold'>{{ service.name|upper }}</h1>
		<div>
			{# <a href="{{ path('update_service', {'id': service.id}) }}" class='text-blue-800'>
				<i class="material-icons">edit</i>
			</a> #}
			<a href="{{ path('service_delete', {'id': service.id}) }}" class='text-red-500'>
				<i class="material-icons">delete_outline</i>
			</a>
		</div>
	</div>


	<div class='flex gap-2 justify-between items-center text-sm'>

		<span class='flex gap-2'>
			<p class='font-bold'>TVA</p>
			<p class=''>
				{{ service.tax.value }}</p>
		</span>

		<span class='flex gap-2'>
			<p class='font-bold'>Prix HT</p>
			<p class=''>
				{{ service.price }}€</p>
		</span>

		<span class='flex gap-2'>
			<p class='font-bold'>Prix TTC</p>
			<p class=''>
				{{ service.price * (1 + (service.tax.value / 100)) }}€</p>
		</span>


	</div>
</div>
