<div class="flex flex-col rounded-b-2xl">
    <div class='p-6 w-full flex flex-row justify-between rounded-lg'>
        <h1 class='text-2xl font-bold'>Service</h1>
        <button onclick="openModal()"
                class="bg-primary text-white font-bold py-2 px-4 rounded w-auto items-center flex justify-center gap-2 text-sm">
            Ajouter un service
        </button>
    </div>

    <twig:Modal title="Ajout d'un service" id="serviceModal">
        {% block form %}
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.price) }}
            {{ form_row(form.tax) }}

            <span class='flex gap-4 justify-end w-full'>
				{{ form_row(form.submit) }}
				<button onclick="closeModal()"
                        class="font-bold py-2 px-4 rounded text-sm bg-error hover:bg-red-900 dark:hover:bg-red-dark text-white">
                Fermer
            </button>
			</span>
            {{ form_end(form) }}
        {% endblock %}
    </twig:Modal>

