{% props status %}

{% if status.name == 'cancelled' %}
    {% set textColor = 'text-black' %}
    {% set darkTextColor = 'dark:text-white' %}
    {% set borderColor = 'border-black' %}
    {% set darkBorderColor = 'dark:border-black' %}
    {% set darkBgColor = 'dark:bg-black' %}

{% elseif status.name == 'created' %}
    {% set textColor = 'text-primary' %}
    {% set borderColor = 'border-primary' %}
{% elseif status.name == 'paid' %}
    {% set textColor = 'text-success' %}
    {% set borderColor = 'border-success' %}
{% elseif status.name == 'late' %}
    {% set textColor = 'text-error' %}
    {% set borderColor = 'border-error' %}
{% elseif status.name == 'refund' %}
    {% set textColor = 'text-grey' %}
    {% set borderColor = 'border-grey' %}
{% endif %}

<div class="px-1.5 py-1 rounded-md justify-center items-center flex h-fit w-fit bg-transparent {{ darkBgColor|default("") }} border {{ borderColor }} {{ darkBorderColor|default("") }}">
    <span class="{{ textColor }} {{ darkTextColor|default("") }}  text-center text-xs font-semibold leading-none">{{ status.displayName }}</span>
</div>