<div class="bg-white p-4 mx-6 my-2 rounded-lg flex flex-col">
	<div class='flex gap-2 justify-between'>
		<div class='flex gap-2 flex-col '>


			<span class='flex gap-2'>
				<p class='font-bold'>id</p>
				<p class=''>
					{{ user.id }}
				</p>
			</span>

			<span class='flex gap-2'>
				<p class='font-bold'>email</p>
				<p class=''>
					{{ user.email }}
				</p>
			</span>

			<span class='flex gap-2'>
				<p class='font-bold'>Entreprise</p>
				<p class=''>
					{{ user.company.name }}
				</p>
			</span>

			<span class='flex gap-2'>
				<p class='font-bold'>Role</p>
				<p class=''>
					{{ user.roles|join(', ') }}

				</p>
			</span>

		</div>
		<div>
			<a href="#" onclick="openModal(event)" class='text-primary '>
				<i class="material-icons">edit</i>
			</a>
		</div>

		<!-- Modale -->
		<div id="myModal" class="fixed inset-0 z-50 hidden overflow-auto bg-black bg-opacity-50 flex items-center justify-center p-6">
			<div class="bg-white p-8 rounded shadow-lg">
				<h2 class="text-lg font-bold mb-4">Modifier les informations</h2>
				{{ form_start(form)}}
				{{ form_row(form.last_name) }}
				{{ form_row(form.first_name) }}
				{{ form_row(form.email) }}
				{{ form_row(form.plainPassword) }}
				{{ form_row(form.company) }}
				{{ form_row(form.roles) }}
				<div class="flex justify-between mt-3">
					{{ form_row(form.submit)}}
					<button onclick="closeModal()" class="bg-white text-primary font-bold p-2 rounded border border-primary">
						Fermer
					</button>
				</div>
				{{ form_end(form) }}
			</div>

		</div>

		<script>

			const modal = document.getElementById("myModal");


function openModal(event) {
event.preventDefault();
const modal = document.getElementById("myModal");
modal.classList.remove("hidden");
}


function closeModal() {
modal.classList.add("hidden");
}


window.onclick = function (event) {
if (event.target === modal) {
closeModal();
}
};


closeButton.onclick = function () {
closeModal();
};
		</script>
	</div>
</div>
