<div class="px-1.5 py-0.5 rounded justify-center items-center flex max-w-fit bg-{{ invoiceStatus.bgColor }} dark:bg-{{ invoiceStatus.textColor}} dark:border dark:border-{{ invoiceStatus.borderColor }}">
    <span class="text-{{ invoiceStatus.textColor }} dark:text-{{ invoiceStatus.bgColor }} text-center text-xs font-semibold leading-none">{{ invoiceStatus.displayName }}</span>
</div>